- provide(:title, "Log in")
%h1 Log in
- unless flash.blank?
  - flash.each do |type, message|
    %div{:class => "alert #{bootstrap_class_for(type)} fade in"}
      %button.close{"data-dismiss" => "alert"} ×
      = message

= form_for(:session, url: login_path, class: 'form form-vertical') do |f|
  .row
    .form-group.col-md-5
      = f.label :email, class: 'control-label'
      = f.email_field :email, class: 'form-control'
  .row
    .form-group.col-md-5
      = f.label :password, class: 'control-label'
      = f.password_field :password, class: 'form-control'
  .row-float
    .form-group
      = f.label :remember_me, class: "checkbox-inline control-label" do
        = f.check_box :remember_me
        Remember me
  .row-float
    = f.submit "Log in", class: "btn btn-primary"
%p
  New user? #{link_to "Sign up now!", signup_path}
%p
  = link_to "Forgot Password", "#forgotPasswordUserModal", "data-toggle" => "modal"
  /Forgot password
  #forgotPasswordUserModal.modal.fade{"data-backdrop" => "static", "aria-hidden" => "true", "aria-labelledby" => "forgotPasswordUser", :role => "dialog", :tabindex => "-1"}
    .modal-dialog
      .modal-content
        .modal-header
          %h4#myModalLabel.modal-title Email:
        .modal-body
          = form_tag reset_password_path do
            .form-group
              = email_field_tag :email, nil, :class => 'form-control'
            = submit_tag "Request New Password", class: 'btn btn-primary'