- provide(:title, "Log in")
%h1 Log in
- unless flash.blank?
  - flash.each do |type, message|
    %div{:class => "alert #{bootstrap_class_for(type)} fade in"}
      %button.close{"data-dismiss" => "alert"} ×
      = message

= form_for(:session, url: login_path, class: 'form form-vertical') do |f|
  .row
    .form-group.col-md-5
      = f.label :email, class: 'control-label'
      = f.email_field :email, class: 'form-control'
  .row
    .form-group.col-md-5
      = f.label :password, class: 'control-label'
      = f.password_field :password, class: 'form-control'
      =f.label "Please contact a site administrator if you forgot password"
  .row-float
    .form-group
      = f.label :remember_me, class: "checkbox-inline control-label" do
        = f.check_box :remember_me
        Remember me
  .row-float
    = f.submit "Log in", class: "btn btn-primary"
    %p
      New user? #{link_to "Sign up now!", signup_path}