- javascript "search"

.page-header
  %h1=t '.title', :default => 'Search'

= hidden_field_tag 'active-pane', '#' + params[:action]
= nav layout: :pills do
  = link_to 'Events',     '#events_t',     id: 'search_events',     'data-toggle': 'tab'
  = link_to 'Resources',  '#resources_t',  id: 'search_resources',  'data-toggle': 'tab'
  = link_to 'Facilities', '#facilities_t', id: 'search_facilities', 'data-toggle': 'tab'


.tab-content
  .tab-pane.fade#events_t
    = render partial: 'search_events'
  .tab-pane.fade#resources_t
    = render partial: 'search_resources'
  .tab-pane.fade#facilities_t
    = render partial: 'search_facilities'

#search-results
  - if @results.present?
    = render partial: 'calendar/calendar', locals: { starting_date: (params[:start] or 'now'), events_array: @results }
  - elsif params[:commit].present?
    %h3 No results found.
