= form_for @user, html: { class: "form form-vertical user" } do |f|
  =render 'shared/user_error_messages'
  .row  
    .form-group.col-sm-4
      = f.label :name, class: 'control-label'
      .controls
        = f.text_field :name, class: 'form-control', required: true
      = error_span(@user[:name])
  .row  
    .form-group.col-sm-6
      = f.label :email, class: 'control-label'
      .controls
        = f.text_field :email, class: 'form-control', required: true
      = error_span(@user[:email])
  .row  
    .form-group.col-sm-6
      = f.label :phone, class: 'control-label'
      .controls
        = f.text_field :phone, class: 'form-control', required: true
        = "Please do not include any formatting; just the 9 digits"
      = error_span(@user[:phone])
  .row  
    .form-group.col-sm-6
      = f.label :home_group, class: 'control-label'
      .controls
        = f.text_field :home_group, class: 'form-control', required: true
      = error_span(@user[:home_group])
  -if current_user != nil && current_user.is_admin?
    .row
      .form-group.col-sm-6
        = f.label 'User Level', class: 'control-label'
        .controls
          = f.select :user_level, options_for_select([['Regular',0], ['Staff',1], ['Administrator',2]], @user.user_level)
        = error_span(@user[:user_level])
    .row
      .form-group.col-sm-6
        = f.label 'Status', class: 'control-label'
        .controls
          -if @user.is_activated?
            =f.label "Activated", class: 'form-control'
          -else
            =f.select :activated, options_for_select([['Active',true], ['Inactive', false]])
        = error_span(@user[:activated])
  .row-float
    = f.submit nil,class: 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn btn-default'
