= form_for @user, html: { class: "form form-vertical user" } do |f|
  .row
    .form-group.col-xs-5
      = f.label :name, class: 'control-label'
      .controls
        = f.text_field :name, class: 'form-control', required: true
      = error_span(@user[:name])
  .row-float
    = f.submit nil,class: 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), users_path, :class => 'btn btn-default'
