- javascript "global_controller"

= form_for @facility, html: { class: "form form-vertical facility" } do |f|
  .row
    .form-group.col-sm-4
      = f.label :name, class: 'control-label'
      .controls
        = f.text_field :name, class: 'form-control', required: true
      = error_span(@facility[:name])
  .row
    .form-group.col-sm-6
      = f.label :description, class: 'control-label'
      .controls
        = f.text_field :description, class: 'form-control', required: true
      = error_span(@facility[:description])
  .row
    .form-group.col-sm-2
      = f.label :capacity, class: 'control-label'
      .controls
        = f.text_field :capacity, class: 'form-control number-picker', required: true
      = error_span(@facility[:capacity])
  .row
    .form-group.col-sm-2
      = f.label :min_capacity, class: 'control-label'
      .controls
        = f.text_field :min_capacity, class: 'form-control number-picker', required: true
      = error_span(@facility[:min_capacity])
  .row
    .form-group.col-sm-2
      = f.label :priority, class: 'control-label'
      .controls
        = f.text_field :priority, class: 'form-control number-picker', required: true
      = error_span(@facility[:priority])
  .row
    .form-group.col-sm-2
      = f.label :has_proj, class: 'control-label'
      .controls
        = f.check_box :has_proj, class: 'form-control check_box', required: true
      = error_span(@facility[:has_proj])  
  .row
    .form-group.col-sm-2
      = f.label :has_tables, class: 'control-label'
      .controls
        = f.check_box :has_tables, class: 'form-control check_box', required: true
      = error_span(@facility[:has_tables])  
  .row
    .form-group.col-sm-2
      = f.label :has_tv, class: 'control-label'
      .controls
        = f.check_box :has_tv, class: 'form-control check_box', required: true
      = error_span(@facility[:has_tv])  

  .row-float
    = f.submit nil,class: 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), facilities_path, :class => 'btn btn-default'
