- javascript "global_controller"
- javascript "events"

= form_for [@event.creator, @event], html: { class: "form form-vertical event" } do |f|
  =render 'shared/events_error_messages'
  .row  
    .form-group.col-sm-4
      = f.label :title, class: 'control-label'
      .controls
        = f.text_field :title, class: 'form-control', required: true
      = error_span(@event[:title])
    
  .row  
    .form-group.col-sm-6
      = f.label :description, class: 'control-label'
      .controls
        = f.text_field :description, class: 'form-control', required: true
      = error_span(@event[:description])
    
  .row  
    .form-group.col-sm-3
      = f.label :start_date, 'Starting date', class: 'control-label'
      .controls
        .input-group
          = f.text_field :start_date, class: 'form-control single-datepicker', required: true,
            value: @start_date
          .input-group-addon.click-date{ :style => 'cursor: pointer'} 
            %i.fa.fa-calendar

      = error_span(@event[:start])
    .form-group.col-sm-3
      = f.label :start, 'Starting time', class: 'control-label'
      .controls
        .input-group.clockpicker
          = f.text_field :start, class: 'form-control', required: true,
          value: @start_time
          .input-group-addon
            %i.fa.fa-clock-o
      = error_span(@event[:start])
  
  .row
    .form-group.col-sm-3
      = f.label :duration, 'Duration', class: 'control-label'
      .controls
        .input-group.bootstrap-timepicker
          = f.text_field :duration, class: 'form-control timepicker', required: true,
          value: @duration
          .input-group-addon
            %i.fa.fa-clock-o

    .col-sm-3
      %label.control-label End
      %input.form-control{ :value => @ending,
                           :name => 'event[end]',
                           :readonly => '', :style => 'cursor: auto'}
  -if is_admin?  
    .row  
      .form-group.col-sm-3
        = f.label :creator_name, class: 'control-label'
        .controls
          = f.text_field :creator_name, class: 'form-control', required: true,
          placeholder: current_user.name
        = error_span(@event[:creator_name])

  .row-float  
    .form-group
      = f.label :facilities, class: 'control-label'
      .controls
        = f.collection_select(:facility_ids, Facility.all, :id, :name,
          { prompt: "Please select your desired facilities" },
          { class: 'selectable-facility', :multiple => true })
      = error_span(@event[:facility_ids])

  .row-float  
    .form-group
      = f.label :resources, class: 'control-label'
      .controls
        = f.collection_select(:resource_ids, Resource.all, :id, :name,
          { prompt: "Please select your desired resources" },
          { class: 'selectable-resource', :multiple => true })
      = error_span(@event[:resource_ids])

  .row-float
    = f.submit nil, class: 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), events_path, :class => 'btn btn-default'
