- javascript "global_controller"
- javascript "events"
- format_fields

= form_for [@event.creator, @event], html: { class: "form form-vertical event" } do |f|
  =render 'shared/events_error_messages'
  .row  
    .form-group.col-sm-4
      = f.label :title, class: 'control-label'
      .controls
        = f.text_field :title, class: 'form-control', required: true
      = error_span(@event[:title])
    
  .row  
    .form-group.col-sm-6
      = f.label :description, class: 'control-label'
      .controls
        = f.text_field :description, class: 'form-control', required: true
      = error_span(@event[:description])
       
  - if current_page?(action: 'new') or is_admin? 
    .row  
      .form-group.col-sm-6
        = f.label :memo, class: 'control-label'
        .controls
          = f.text_field :memo, class: 'form-control',
            placeholder: "Leave a note for administrator's approval"
        = error_span(@event[:memo])
    
  .row  
    .form-group.col-sm-3
      = f.label :start_date, 'Starting date', class: 'control-label'
      .controls
        .input-group
          = f.text_field :start_date, class: 'form-control single-datepicker', required: true,
            value: params[:start_date]
          .input-group-addon.click-date{ :style => 'cursor: pointer'} 
            %i.fa.fa-calendar

      = error_span(@event[:start])
    .form-group.col-sm-3
      = f.label :start, 'Starting time', class: 'control-label'
      .controls
        .input-group.clockpicker
          = f.text_field :start, class: 'form-control', required: true,
          value: params[:start_time]
          .input-group-addon
            %i.fa.fa-clock-o
      = error_span(@event[:start])
  
  .row
    .form-group.col-sm-3
      = f.label :duration, 'Duration', class: 'control-label'
      .controls
        / .bfh-timepicker{'data-name' => 'event[duration]', 'data-id' => 'event_duration', :required => '',
        /                 'data-time' => "#{params[:duration]}", 'data-align' => 'right'}
        .input-group.bootstrap-timepicker
          = f.text_field :duration, class: 'form-control timepicker', required: true,
          value: params[:duration]
          .input-group-addon
            %i.fa.fa-clock-o

    .col-sm-3
      = f.label 'End', class: 'control-label'
      .controls
        = f.text_field :ending, class: 'form-control', readonly: '', style: 'cursor: auto',
          value: params[:ending]
                           
  - if is_admin?  
    .row  
      .form-group.col-sm-3
        = f.label :creator_name, class: 'control-label'
        .controls
          = f.text_field :creator_name, class: 'form-control', required: true,
          placeholder: current_user.name
        = error_span(@event[:creator_name])

  .row-float
    .form-group
      = f.label :facilities, class: 'control-label'
      .controls
        = f.collection_select(:facility_ids, Facility.all, :id, :name,
          { prompt: "Please select your desired facilities" },
          { class: 'selectable-facility', :multiple => true })
      = error_span(@event[:facility_ids])

  .row-float
    .form-group
      = f.label :resources, class: 'control-label'
      .controls
        = f.collection_select(:resource_ids, Resource.all, :id, :name,
          { prompt: "Please select your desired resources" },
          { class: 'selectable-resource', :multiple => true })

        = f.hidden_field :resource_counts, value: params[:resource_counts]
      = error_span(@event[:resource_ids])

  .row
    .form-group.col-sm-2
      = f.label :attendees, class: 'control-label'
      .controls
        = f.text_field :attendees, class: 'form-control number-picker', required: true
      = error_span(@event[:attendees])

  .row-float
    .form-group
      = label_tag :recurrence_checked, class: "checkbox-inline control-label" do
        = check_box_tag :recurrence_checked, nil, params[:recurrence_checked]
        Is this a recurring event?

  .row.hide-slide
    .form-group.col-md-3
      = label_tag :recurring_value, 'Repeat every ', class: 'control-label'
      .row-float
        .col-md-7.nopadding
          = text_field_tag :recurring_value, params[:recurring_value], class: 'form-control bfh-number',
            'data-min': 1, 'data-max': 365
        .col-md-5.nopadding
          .bfh-selectbox{ 'data-name' => 'recurring_option', 'data-value' => params[:recurring_option] }
            - Event.recurrence_options.each_with_index do |thing, i|
              %div{ 'data-value' => i }= thing

  .row-float
    = f.submit nil, class: 'btn btn-primary', data: { disable_with: "Submitting..." }
    = link_to t('.cancel', :default => t("helpers.links.cancel")), events_path, :class => 'btn btn-default'