- javascript "global_controller"

= form_for @resource, html: { class: "form form-vertical resource" } do |f|
  .row  
    .form-group.col-sm-4
      = f.label :name, class: 'control-label'
      .controls
        = f.text_field :name, class: 'form-control', required: true
      = error_span(@resource[:name])
  .row  
    .form-group.col-sm-6
      = f.label :description, class: 'control-label'
      .controls
        = f.text_field :description, class: 'form-control', required: true
      = error_span(@resource[:description])
  .row  
    .form-group.col-sm-2
      = f.label :numberOf, class: 'control-label'
      .controls
        = f.text_field :numberOf, class: 'form-control number-picker', required: true
      = error_span(@resource[:numberOf])
  .row  
    .form-group.col-sm-4
      = f.label :storage_location, class: 'control-label'
      .controls
        = f.text_field :storage_location, class: 'form-control', required: true
      = error_span(@resource[:storage_location])
  .row  
    .form-group.col-sm-2
      = f.label :max_reserve_time , class: 'control-label'
      .controls
        / = f.select :max_reserve_time, options_for_select(generate_hour_selections), :prompt => "Hours:Minutes", class: 'form-control', required: true
        .input-group.clockpicker
          = f.text_field :max_reserve_time, class: 'form-control', required: true
          %span.input-group-addon
            %span.fa.fa-clock-o
      = error_span(@resource[:max_reserve_time])            
  .row-float
    = f.submit nil,class: 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), resources_path, :class => 'btn btn-default'
