- javascript "global_controller"
- javascript "searches"
- format_fields

= form_for @search, html: { class: "form form-vertical search"} do |f|
	=render 'shared/searches_error_messages'
	.row
		.form-group.col-sm-3
			= f.label :start_date, 'Starting date', class: 'control-label'
			.controls
				.input-group
					= f.text_field :start_date, class: 'form-control single-datepicker', required: true, value: params[:start_date]
					.input-group-addon.click-date{ :style => 'cursor: pointer'}
						%i.fa.fa-calendar
			= error_span(@search[:start_date])

		.form-group.col-sm-3
			= f.label :start, 'Starting time', class: 'control-label'
			.controls
				.input-group.clockpicker
					= f.text_field :start, class: 'form-control', required: true, value: params[:start_time]
					.input-group-addon
						%i.fa.fa.clock-o
			=error_span(@search[:start])

	.row
		.form-group.col-sm-3
			= f.label :ending_date, 'Ending date', class: 'control-label'
			.controls
				.input-group
					= f.text_field :ending_date, class: 'form-control single-datepicker', required: true, value: params[:ending_date]
					.input-group-addon.click-date{ :style => 'cursor: pointer'}
						%i.fa.fa-calendar
			= error_span(@search[:ending_date])

		.form-group.col-sm-3
			= f.label :ending, 'Ending time', class: 'control-label'
			.controls
				.input-group.clockpicker
					= f.text_field :ending, class: 'form-control', required: true, value: params[:ending_time]
					.input-group-addon
						%i.fa.fa.clock-o
			=error_span(@search[:ending])
	.row-float
		= f.submit nil, class: 'btn btn-primary'
		= link_to t('.cancel', :default => t("helpers.links.cancel")), searches_path, :class => 'btn btn-default'