- model_class = Search
- unless flash.blank?
	- flash.each do |type, message|
		%div{:class => "alert #{bootstrap_class_for(type)} fade in"}
			%button.close{"data-dismiss" => "alert"} ×
			= message
.page-header
	%h1=t '.title', :default => model_class.model_name.human.pluralize.titleize
%p
	%br
	= @search.inspect
	%br
	= @search.facilities_results
	%br
	= @search.resources_results
%table.table.table-striped
	%caption Available Facilities
	%thead
		%tr
			%th= Facility.human_attribute_name(:id)
			%th= Facility.human_attribute_name(:name)
	%tbody
		- @search.facilities_results
		- @search.facilities_results.each do |facility|
			%tr
				%td= link_to facility.id, facility_path(facility)
				%td= facility.name
%table.table.table-striped
	%caption Available Resources
	%thead
		%tr
			%th= Resource.human_attribute_name(:id)
			%th= Resource.human_attribute_name(:name)
	%tbody
		- @search.resources_results
		- @search.resources_results.each do |resource|
			%tr
				%td= link_to resource.id, resource_path(resource)
				%td= resource.name
