-# This file encapsulates every page

-# Compliance with html 5
!!! 5
%html
  %head
    %title Fellowship Church Scheduler
    = stylesheet_link_tag 'application'
    = javascript_include_tag 'application'
    
    -# protects against some kind of cross-site request forgery
    = csrf_meta_tags
  %body
    = navbar position: :top do
      .container-float
        = vertical do
          = nav do
            = link_to root_path do
              %i.fa.fa-home
              Home
        -if logged_in?
          = horizontal do
            = nav class: 'navbar-right' do
              = link_to 'Profile', user_path(current_user.id)
              -if is_admin?
                =link_to 'Admin Page', admin_path
                =link_to 'Users', users_path

              = link_to 'Resources', resources_path
              = link_to 'Facilities', facilities_path 
              = link_to 'Events', events_path
              = link_to 'Search', search_path
              = link_to 'Calendar', search_path
              = link_to 'Settings', root_path
              = link_to 'Logout', logout_path, method: "delete"


        -else
          = horizontal do
            = nav class: 'navbar-right' do
              = link_to 'Log In', login_path
    .container-float
      .row-float
        .col-sm-9
          #main{ :style => 'overflow: visible' }
            = yield
            = yield :page_specific_js
        .col-sm-3
          .row-float
            =link_to image_tag("/images/first_floor.JPG", size: "400x300"), "images/first_floor.JPG", :popup =>["First Floor", "height = 700, width=900"]
          .row-float
            =link_to image_tag("/images/second_floor.JPG", size: "400x300"), "images/second_floor.JPG", :popup =>["Second Floor", "height = 700, width=900"]

  -unless Rails.env.production?
    .container-float
      .col-lg-12
        != ap flash[:log]

